{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todolist/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6b3d39f47a.js" crossorigin="anonymous"></script>
    <title>Todolist</title>
</head>
<body>
    <header>
        <nav id="nav">
            <h2>To Do List</h2>
            <div class="profile">
                <span class="name">{{user.username}}</span>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </nav>

    </header>
    <div class="main-wrap">
        <div class="list-container">
            <div class="list-header">
                <div class="item-header" id="tasks">
                    <i class="fas fa-user"></i>
                    <a>My tasks</a>
                </div>
                <div class="item-header" id="teams">
                    <i class="fas fa-user-friends"></i>
                    <a>My teams</a>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>